# ~/scout_ws/models/scout_gazebo/model.config
<?xml version="1.0"?>
<model>
  <name>scout_gazebo</name>
  <version>1.0</version>
  <sdf version="1.6">scout.urdf</sdf>
  <author>
    <name>Takuto</name>
    <email>you@example.com</email>
  </author>
  <description>Scout robot model</description>
</model>
